<ion-view view-title="Home">
    <ion-content>
        <h1 class="text-success"> {{ vm.getName() }} </h1>
        <br/>
        <p class="text-justify">{{ vm.service.message }}</p>
        <br/>
        <p><a class="btn btn-lg btn-success" href="http://angularjs.org" role="button">Visit AngularJS (1.x)</a>
        </p>
        <p><a class="btn btn-lg btn-success" href="https://angular.io/" role="button">Visit AngularJS (2.x)</a>
        </p>
        <pre dir="ltr">HomeController: {{vm|json}}</pre>

    </ion-content>
</ion-view>
